:root {
  --white-color: #fff;
  --black-color: #333;
  --main-bg-color: #e4d4c8;
  --header-bg-color: #d0b49f;
  --primary-color: #523a28;
  --secondary-color: #a47551;
  --ternary-color: #d0b49f;
}
